*{
    text-decoration-line: none;
    list-style: none;
}
body{
    
    /* background-blend-mode: color-dodge; */
}
main{
    margin: 0;
    height: 100vh;
    width: 100%;
}
.logo{
    z-index: 55;
    position: absolute;
    left: 7vw;
}
.logo h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(230, 188, 134);
    padding: 2px 9px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
header{
    cursor: pointer;
}
header::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
background: rgb(62, 216, 183);
height: 100%;
clip-path: polygon(0 0, 81% 0, 70% 53%, 0 100%);
z-index: -1;
}
nav {
    display: flex;
    min-height: 100px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
        .nav-links {
            z-index: 56;
    display: flex;
    align-items: center;
    padding: 2px 12px;
    font-size: 1.3rem;
}
.nav-links li{
    margin: 10px;
}
/* .nav-links li:nth-child(2) a{
    color: black;
} */
/* .nav-links li:nth-child(3) a{
    color: black;
} */
.nav-links li:nth-child(4) a{
    color: black;
}
.nav-links li:nth-child(5) a{
    color: black;
}

li a{
    font-weight: 300;
    color: #ffffff;
}
.cto {
display: flex;
flex-wrap: wrap;
width: 80%;
margin: 0 auto;
min-height: calc(75vh - 100px);
justify-content: space-between;
align-items: center;
z-index: -1;
}
.cto_text p{
    font-size: 1.1rem;
}
    .cto_form {
        /* display: none; */
    width: 48%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}
        .cto_form .reg_form {
    padding: 25px 20px;
    width: 90%;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.7);
}
            .cto_form input{
                margin: 2px;
        padding: 10px;
        width: 90%;
        border-radius: 25px;
        padding-left: 35px;
        border: solid 1px #7F7F7F;
    }
    .cto_form [type="submit"] {
        background: rgb(33, 185, 152);
        border: none;
        color: white;
        margin: 9px 0px 0px 0px;
        width: 40%;
        cursor: pointer;
    }

    /* Home */
    .home{
        display: flex;
        /* flex-wrap: wrap; */
        height: 49vh;
        width: 37.3%;
        background: rgba(253, 253, 253, 0.651);
        box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.7);
        border-radius: 25px;
        position: absolute;
        top: 22vh;
        left: 52.2vw;
        /* z-index: -1; */
    }
    .home video{
        padding: 7px;
        height: 46.5vh;
        width: 36vw;
        border-radius: 25px;
        z-index: 9999;
    }

   

    /* services */
    .services{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        height: 49vh;
        width: 37.3%;
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.7);
        border-radius: 25px;
        position: absolute;
        top: 22vh;
        left: 52.2vw;
        font-size: 1.2rem;
        z-index: -1;
    }
    .services h2, p{
        text-align: center;
    }

    /* About */
    .about{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 10px;
        /* align-items: center; */
        height: 49vh;
        width: 37.3%;
        background: rgb(252, 252, 252);
        box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.7);
        border-radius: 25px;
        position: absolute;
        top: 22vh;
        left: 52.2vw;  
        z-index: -1;
    }
    .about h1{
        font-size: 4rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: burlywood;
        /* padding: 2px 9px; */
        width: 40%;
        height: 30vh;
        text-align: center;
        align-self: center;
        border-bottom-left-radius: 10%;
        z-index: -1;
    }

    /* Ask us */
    .ask{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 10px;
        align-items: center;
        height: 47vh;
        width: 37.3%;
        background: rgba(39, 151, 86, 0.719);
        box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.7);
        border-radius: 25px;
        position: absolute;
        top: 22vh;
        left: 52.2vw; 
        backdrop-filter: blur(2rem);
        font-size: 1.27rem;
        color: white;
        /* z-index: -1; */
    }
    .ask .ask-content img{
        background-color: #ffffff;
        margin-left: 8vw;
        
    }
    .close{
        display: none;
        z-index: 4;
    }

    .footer{
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        height: 10vh;
        width: 101%;
        bottom: calc(100vh - 113.2vh);
        left: -6px;
        /* background-color: #7F7F7F; */
    }
    .footer div .social-links a{
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
        font-weight: 400;
        margin: 10px;
        
    }
    .footer div .social-links a:hover{
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 2px 10px 10px rgba(68, 68, 68, 0.7); 
        padding: 0px 5px;
    }
    .social-links a:hover:nth-child(1){
        background-color: rgb(57, 99, 236);
        color: #ffffff;
    }
    .social-links a:hover:nth-child(2){
        background-color: rgb(30, 81, 247);
    }
    .social-links a:hover:nth-child(3){
        background-color: rgb(14, 241, 90);
         color: #ffffff;
    }
    .social-links a:hover:nth-child(4){
         color: #ffffff;
         background-color: rgb(28, 37, 31);
    }

     /* Media queries */
     @media(max-width: 1262px){
        .cto{
            flex-direction: column;
        }
        .home{
            margin-top: -1vh;
            top: 39vh;
            left: 30vw;
        }
        .services{
            /* position: absolute; */
            top: 39vh;
            left: 30vw;
            margin-top: -1vh;
        }
        .about{
            margin-top: -1vh;
            top: 39vh;
            left: 30vw;
        }
        .ask{
            margin-top: 2vh;
            top: 39vh;
            left: 30vw;
        }
}
@media(min-width: 773px) and (max-width: 915px){
    .home{
        margin-top: 4vh;
        top: 39vh;
        left: 30vw;
        width: 48%;
        /* z-index: -1; */
    }
    .home video{
        width: 98%;
    }
}

@media(max-width: 770px){
    .logo h1{
        font-size: 2.7rem;
        padding: 0px 6px;
       
    }
    .home{
        margin-top: 4vh;
        top: 39vh;
        left: 30vw;
        width: 50%;
        z-index: -1;
    }
    .home video{
        width: 95%;
    }
    .cto_form{
        margin-top: 3vh;
        top: 33vh;
        left: 45vw;
        width: 60%;
        /* padding-right: 10vw; */
    }
    .services{
        /* position: absolute; */
        top: 39vh;
        left: 30vw;
        margin-top: 4vh;
        width: 50%;
    }
    .about{
        margin-top: 3.8vh;
        width: 50%;
        top: 39vh;
        left: 30vw;
    }
    .ask{
        margin-top: 4vh;
        top: 39vh;
        left: 30vw;
        width: 50%;
        z-index: -1;
    }
    .ask .ask-content img{
       
        margin-left: 14vw;
        
    }
}
/* @media(min-width: 679px) and (max-width: 769px){
    .cto_form{
        /* margin-top: -49vh; */
        /* margin-left: -18vw; */
        /* margin-bottom: 27vw;
        position: relative; */
        /* padding: 12px; 
    }
} */

@media(max-width: 680px){
    .cto_form{
        margin-top: -49vh;
        margin-left: -18vw;
        margin-bottom: 27vw;
        position: relative;
        /* padding: 12px; */
    }
    .cto_form .reg_form{
        position: absolute;
    }
    header::before {
        clip-path: polygon(0 0, 110% 0, 70% 40%, 0 100%);
        }
    nav .nav-links {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: rgb(10, 134, 107);
        width: 80%;
        left: 0;
        top: -3vh;
        overflow: hidden;
        /* transition: 14s ease-in-out; */
        box-shadow: 0 1px 80px 40px rgba(0, 0, 0, 0.548);
        
    }
    .empty{
        display: none;
       left: 0;
       top: 0;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2.2rem);
    }
    .nav-links li a{
        color: white;
    }
    
    .close{
        display: flex;
        position: absolute;
        /* content: 'close'; */
        font-size: 1.7rem;
        font-weight: 600;
        background-color: rgb(73, 255, 17);
        height: 4vh;
        width: 4vw;
        border-radius: 50%;
        right: 1vw;
        padding: 2px;
        color: rgb(12, 12, 12);
        cursor: pointer;
       
    }
/*    
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        height: 10vh;
        width: 101%;
       
        left: -6px; */
        /* background-color: #7F7F7F; */
  
    .footer{
        bottom: calc(100vh - 111vh);
        display: none;
    }
    .footer div .social-links{
        position: absolute;
        left: 12vw;
    }
}

@media(max-width: 600px){
    .home, .cto_form, .services, .ask, .about{
        top: 45vh;
        height: 42vh;
        width: 70%;
        left: 16vw;
    }
    .home-content video{
        height: 40vh;
    }
    .cto_form{
        width: 89%;
    }
    .cto_form .form_control input{
        width: 78%;
        height: 1vh;
    }
    .cto_form [type="submit"] {
       padding-bottom: 18px;
        width: 80%;
    }
    .about h1{
       position: absolute;
       top: 3.2vh;
    }
    .ask .ask-content img{
       
        margin-left: 22vw;
        
    }
    .empty{
        /* display: none; */
       left: 0;
       top: 0;
        position: absolute;
        height: 110vh;
        width: 100%;
        /* background-color: rgba(0, 0, 0, 0.5); */
        /* backdrop-filter: blur(2.2rem); */
    }
    .footer{
        
        bottom: calc(100vh - 90vh);
        display: none;
    }
    .social-links a{
        margin: 10px;
    }
}